<div
  class="movie-card bg-white shadow-md rounded-lg overflow-hidden transition-transform transform hover:scale-105 hover:shadow-lg"
>
  <img
    [src]="movie.poster"
    [alt]="movie.title"
    class="w-full h-64 object-cover"
  />
  <div class="p-4 flex flex-col justify-between h-60">
    <div>
      <h2 class="text-lg font-bold mb-2 truncate">{{ movie.title }}</h2>
      <p class="text-sm text-gray-600 mb-2 line-clamp-2">
        {{ movie.description }}
      </p>
      <p class="text-sm text-gray-500 mb-1">ژانر: {{ movie.genre }}</p>
      <p class="text-sm text-gray-500 mb-1">
        تاریخ انتشار: {{ movie.releaseDate }}
      </p>
    </div>
    <div class="flex items-center justify-between mt-4">
      <p class="text-sm text-yellow-500 font-bold">{{ movie.rating }} ⭐</p>
      <!-- <a
        [routerLink]="['/movie', movie.id]"
        class="bg-red-600 text-white py-1 px-3 rounded hover:bg-red-700 text-sm"
      >
        رزرو بلیط
      </a> -->
    </div>
  </div>
</div>
